In [1]:
def greet(name):
    return 'hello '+name

In [2]:
greet('ajay')

'hello ajay'

In [3]:
def greetin(n):
    print('hello ' + n)

In [4]:
greetin('hetansh')

hello hetansh

In [5]:
a = greet('hrishwa')

In [6]:
a

'hello hrishwa'

In [7]:
b = greetin('raj')

hello raj

In [8]:
b

In [9]:
print(b)

None

In [19]:
def add(x,y):
    print('addtion of x,y --> ')
    return x+y

In [20]:
add([1,2,3,4,5,6,7],[1,2,3,4,5,6])

addtion of x,y -->

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6]

In [21]:
add('sachin','nikhil')

addtion of x,y -->

'sachinnikhil'

In [22]:
add(5,7)

addtion of x,y -->

12

In [1]:
def add_sub(a,b):
    r = a+b
    s = a-b
    return r,s

In [5]:
b,c  = add_sub(5,6)

In [6]:
b

11

In [7]:
c

-1

In [23]:
def fact(num):
    r = 1
    for var in range(1,num+1):
        r = r *var
    return r

In [24]:
fact(5)

120

In [25]:
def fac(num):
    if num == 1:
        return num
    else:
        return num * fac(num-1)

In [26]:
fac(5)

120

In [27]:
fac(4)

24

In [29]:
row = int(input('row : '))
col = int(input('col : '))

matrix = [[0 for c in range(col)] for r in range(row)]

for r in range(row):
    for c in range(col):
        matrix[r][c] = int(input(f'matrix[{r}][{c}]'))
        
for var in matrix:
    print('\t\t\t\t\t',*var)

row : 2
col : 2
matrix[0][0]1
matrix[0][1]2
matrix[1][0]3
matrix[1][1]4
					 1 2
					 3 4

In [30]:
num = int(input('enter a number : '))
for var in range(1,11):
    print('{} * {} = {}'.format(num,var,var*num))

enter a number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [36]:
a = {'ajay':'python','nikhil':'linux','himan':'aws','rajesh':'grras'}

In [41]:
d  =  {}

for key,value in a.items():
    d[value] = key

In [42]:
d

{'python': 'ajay', 'linux': 'nikhil', 'aws': 'himan', 'grras': 'rajesh'}

In [43]:
c = { 'ajay':['nikhil','aws']}

In [44]:
c

{'ajay': ['nikhil', 'aws']}

In [46]:
a = {'ajay':'python','aws':'ajay','linux':'python','grras':'ajay'}

In [47]:
a

{'ajay': 'python', 'aws': 'ajay', 'linux': 'python', 'grras': 'ajay'}

In [50]:
d={}
for key,value in a.items():
    if value in d:
        d[value].append(key)
    else:
        d[value] = [key]

In [51]:
d

{'python': ['ajay', 'linux'], 'ajay': ['aws', 'grras']}

In [24]:
def square(num):
    r = 1
    for var in num:
        r = var ** 2 
        yield r

In [25]:
a = square([1,2,3,4,5,6,7,8,9])

In [26]:
a

In [27]:
for var in a:
    print(var)

1
4
9
16
25
36
49
64
81

In [28]:
for var in a:
    print(var)

In [29]:
b = square([5,4,3,2,1])
b

In [30]:
a = [1,2,3,4,5,7,8,7,6,5,4,4,3,5,6,9]

In [31]:
a

[1, 2, 3, 4, 5, 7, 8, 7, 6, 5, 4, 4, 3, 5, 6, 9]

In [32]:
print(*a)

1 2 3 4 5 7 8 7 6 5 4 4 3 5 6 9

In [33]:
print(*b)

25 16 9 4 1

In [4]:
def rem(sq,item):
    count = sq.count(item)
    for var in range(count):
        sq.remove(item)
    return sq

In [5]:
a = [1,2,3,4,4,4,5,5,5,5,5,5,3,3,3,3,3,3]

In [6]:
rem(a,5)

[1, 2, 3, 4, 4, 4, 3, 3, 3, 3, 3, 3]

In [7]:
def count(seq,item):
    lettercount = 0
    for var in seq:
        if var == item:
            lettercount += 1
    return lettercount

In [8]:
count('banana','a')

3

In [11]:
def chin(seq,item):
    lettercount = 0
    print(seq)
    for var in seq:
        if var == item:
            print('^',end='')
            lettercount += 1
        else:
            print(' ',end='')
    return lettercount

In [12]:
chin('tajmahal','a')

tajmahal
 ^  ^ ^

3

In [16]:
i = input('enter a string : ')
c = 1
for var in i:
    if c == 10:
        break
    print(var*c)
    c += 1

enter a string : ajay
a
jj
aaa
yyyy

In [19]:
def ncount(seq,item):
    l = 0
    print(seq)
    for var in seq:
        if var == item:
            print('^',end='')
            l += 1
        else:
            print(' ',end='')
    return l

In [20]:
ncount('banana','n')

banana
  ^ ^

2

In [21]:
ncount('bussiness','s')

bussiness
  ^^   ^^

4

In [31]:
n = 5

In [38]:
del n

In [39]:
n

NameError: name 'n' is not defined

In [32]:
print(a)
sum(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

55

In [42]:
def avg(num):
    global n
    s = sum(num)
    n = len(num)
    return s

In [43]:
a = [1,2,3,4,5,6,7,8,9,10]

In [44]:
c = avg(a)

In [45]:
c

55

In [46]:
c/n

5.5

In [54]:
x,y = 5,6

def yu(a,b):
    global x,y
    x = a
    y = b
    return x,y

In [55]:
print(x,y)

5 6

In [56]:
t,u = yu(6,6)

In [57]:
print(t,u)

6 6

In [58]:
print(x,y)

6 6

In [59]:
yu(3,4,5)

TypeError: yu() takes 2 positional arguments but 3 were given

# types of parameter

* Positional argument
* Default argument
* Variable length argument
* Keyword argument

* --> varirable length argument 
** --> key words argument in the form of key and value

In [61]:
#default argumet + positional argument

def add(a,b=0,c=0):
    return a+b+c

In [62]:
add(a=5,b=4,c=7)

16

In [63]:
add(c=5,b=6,a=9)

20

In [66]:
add(6,c=5,b=7)

18

In [67]:
add(1,5)

6

In [73]:
print(x,y,sep='\n')

6
6

In [74]:
def mys(*args):
    r = 0
    for var in args:
        r = r+var
    return r

In [75]:
mys(1,2,3)

6

In [76]:
mys(1,2,3,4,4,8,6,7,7,5,5,4,3,3,4,5)

71

In [77]:
y

6

In [79]:
for var in range(y):
    print(var)

0
1
2
3
4
5

In [80]:
dic = {'a':'python','b':'cython','c':'ipython','d':'jpython'}

In [83]:
def pdict(**kwargs):
    for key,value in kwargs.items():
        print(' {} == {}'.format(key,value))

In [84]:
pdict(**dic)

 a == python
 b == cython
 c == ipython
 d == jpython

In [85]:
pdict(name='ajay',course='python',age='22')

 name == ajay
 course == python
 age == 22

In [86]:
f = open('C:/Users/Ajay/Desktop/myimage.jpg','rb')
data=f.read()
f.close()

In [90]:
c = {'ajay':{
    'number':'7568796749',
    'company':'grras solution',
    'email':'yadavajju22@gmail.com'
}}

In [91]:
c

{'ajay': {'number': '7568796749',
  'company': 'grras solution',
  'email': 'yadavajju22@gmail.com'}}

In [92]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [93]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [96]:
d = dic

In [97]:
d

{'a': 'python', 'b': 'cython', 'c': 'ipython', 'd': 'jpython'}

In [98]:
dic

{'a': 'python', 'b': 'cython', 'c': 'ipython', 'd': 'jpython'}

In [99]:
print(id(d))
print(id(dic))

2755583536872
2755583536872

In [100]:
dic['ajay'] = 'kushal'

In [101]:
dic

{'a': 'python',
 'b': 'cython',
 'c': 'ipython',
 'd': 'jpython',
 'ajay': 'kushal'}

In [102]:
d

{'a': 'python',
 'b': 'cython',
 'c': 'ipython',
 'd': 'jpython',
 'ajay': 'kushal'}

In [105]:
di = dic.copy()

In [106]:
di

{'a': 'python',
 'b': 'cython',
 'c': 'ipython',
 'd': 'jpython',
 'ajay': 'kushal'}

In [107]:
dic['bharat']= 'nikita'

In [108]:
dic

{'a': 'python',
 'b': 'cython',
 'c': 'ipython',
 'd': 'jpython',
 'ajay': 'kushal',
 'bharat': 'nikita'}

In [109]:
di

{'a': 'python',
 'b': 'cython',
 'c': 'ipython',
 'd': 'jpython',
 'ajay': 'kushal'}

In [110]:
d

{'a': 'python',
 'b': 'cython',
 'c': 'ipython',
 'd': 'jpython',
 'ajay': 'kushal',
 'bharat': 'nikita'}

In [111]:
dic['bharat']

'nikita'

In [112]:
dic.get('a')

'python'

In [114]:
dic.values()

dict_values(['python', 'cython', 'ipython', 'jpython', 'kushal', 'nikita'])

In [116]:
dic.keys()

dict_keys(['a', 'b', 'c', 'd', 'ajay', 'bharat'])

In [118]:
dic.items()

dict_items([('a', 'python'), ('b', 'cython'), ('c', 'ipython'), ('d', 'jpython'), ('ajay', 'kushal'), ('bharat', 'nikita')])

In [119]:
dic.update([('raj','kah'),('hrish','hetansh')])

In [120]:
dic

{'a': 'python',
 'b': 'cython',
 'c': 'ipython',
 'd': 'jpython',
 'ajay': 'kushal',
 'bharat': 'nikita',
 'raj': 'kah',
 'hrish': 'hetansh'}

In [121]:
dic.pop('raj')

'kah'

In [122]:
dic

{'a': 'python',
 'b': 'cython',
 'c': 'ipython',
 'd': 'jpython',
 'ajay': 'kushal',
 'bharat': 'nikita',
 'hrish': 'hetansh'}

In [123]:
dic.popitem()

('hrish', 'hetansh')

In [124]:
dic

{'a': 'python',
 'b': 'cython',
 'c': 'ipython',
 'd': 'jpython',
 'ajay': 'kushal',
 'bharat': 'nikita'}

In [126]:
a = ['hetansh','hrishwa','jayesh','bharat']
#b = 'ajay'
c = dict.fromkeys(a)
print(c)

{'hetansh': None, 'hrishwa': None, 'jayesh': None, 'bharat': None}

In [128]:
y = {}
for var in range(1,11):
    y.setdefault(var,[])
    
print(y)

{1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: [], 10: []}

In [129]:
import random

In [130]:
rand = [random.randint(1,100) for var in range(10)]
rand

[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]

In [131]:
for key,value in y.items():
    value.extend(rand)

In [132]:
y

{1: [34, 12, 44, 72, 76, 15, 92, 96, 99, 96],
 2: [34, 12, 44, 72, 76, 15, 92, 96, 99, 96],
 3: [34, 12, 44, 72, 76, 15, 92, 96, 99, 96],
 4: [34, 12, 44, 72, 76, 15, 92, 96, 99, 96],
 5: [34, 12, 44, 72, 76, 15, 92, 96, 99, 96],
 6: [34, 12, 44, 72, 76, 15, 92, 96, 99, 96],
 7: [34, 12, 44, 72, 76, 15, 92, 96, 99, 96],
 8: [34, 12, 44, 72, 76, 15, 92, 96, 99, 96],
 9: [34, 12, 44, 72, 76, 15, 92, 96, 99, 96],
 10: [34, 12, 44, 72, 76, 15, 92, 96, 99, 96]}

In [133]:
u = {}
for var in range(1,11):
    u.setdefault(var,[])
    
print(u)

{1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: [], 10: []}

In [134]:
rand

[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]

In [137]:
for key,value in u.items():
    value.append(rand)

In [138]:
u

{1: [[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]],
 2: [[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]],
 3: [[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]],
 4: [[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]],
 5: [[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]],
 6: [[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]],
 7: [[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]],
 8: [[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]],
 9: [[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]],
 10: [[34, 12, 44, 72, 76, 15, 92, 96, 99, 96]]}

In [139]:
names = [input(f'Name = [{counter}]') for counter in range(10)]
print(names)

Name = [0]ajay
Name = [1]hrihwa
Name = [2]hetansh
Name = [3]bharat
Name = [4]jayesh
Name = [5]mik
Name = [6]heero
Name = [7]rajat
Name = [8]raj
Name = [9]kaj
['ajay', 'hrihwa', 'hetansh', 'bharat', 'jayesh', 'mik', 'heero', 'rajat', 'raj', 'kaj']

In [146]:
random.choice(rand)

96

In [149]:
dic['t'] = 'python'

In [150]:
dic

{'a': 'python',
 'b': 'cython',
 'c': 'ipython',
 'd': 'jpython',
 'ajay': 'kushal',
 'bharat': 'nikita',
 't': 'python'}

In [151]:
for key,value in dic.items():
    if value == 'python':
        print(key)

a
t

In [1]:
a,*b,c = 1,2,3,4,5,6,8,9
print(a,b,c,sep='\n')

1
[2, 3, 4, 5, 6, 8]
9

In [4]:
def func(*args,**kwargs):
    for var in args:
        print(var)
    for key,value in kwargs.items():
        print(key,value,sep='===')

In [7]:
func('ajay','hetansh','hrishwa','jayesh',name='rajesh',work='grras')

ajay
hetansh
hrishwa
jayesh
name===rajesh
work===grras

# Lambda function in python

In [10]:
x = lambda a : a**2

In [11]:
x(5)

25

In [12]:
f = lambda b,c : b+c
f(5,6)

11

In [16]:
eo = lambda x :'even' if x%2==0 else 'odd'

In [17]:
eo(8)

'even'

In [18]:
eo(9)

'odd'

In [19]:
great = lambda x,y : 'x is greater' if x >y else 'y is greater'

In [20]:
greatest = lambda x,y,z :'x is greater' if x>=y and x>=z \
            else ('y is greater' if y >=z else 'z is greater')

In [22]:
greatest(4,3,4)

'x is greater'

In [23]:
a = [1,2,3,4,5,6,7,8,9,10]

In [26]:
sq = list(map(lambda x : x **2 ,a))

In [27]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
import random

In [29]:
rand = [random.randint(1,1000) for var in range(50)]

In [30]:
print(rand)

[103, 123, 161, 833, 190, 363, 600, 839, 696, 518, 251, 591, 237, 544, 359, 546, 246, 437, 846, 893, 210, 461, 206, 529, 581, 953, 263, 340, 206, 858, 241, 335, 910, 104, 558, 472, 182, 841, 411, 869, 924, 447, 830, 307, 409, 225, 488, 465, 403, 24]

In [31]:
len(rand)

50

In [32]:
eve = list(filter(lambda x : x % 2 ==0 ,rand))
print(eve)

[190, 600, 696, 518, 544, 546, 246, 846, 210, 206, 340, 206, 858, 910, 104, 558, 472, 182, 924, 830, 488, 24]

In [33]:
len(eve)

22

In [34]:
print(rand,eve,sep='\n\n')

[103, 123, 161, 833, 190, 363, 600, 839, 696, 518, 251, 591, 237, 544, 359, 546, 246, 437, 846, 893, 210, 461, 206, 529, 581, 953, 263, 340, 206, 858, 241, 335, 910, 104, 558, 472, 182, 841, 411, 869, 924, 447, 830, 307, 409, 225, 488, 465, 403, 24]

[190, 600, 696, 518, 544, 546, 246, 846, 210, 206, 340, 206, 858, 910, 104, 558, 472, 182, 924, 830, 488, 24]

In [35]:
sum(rand)

23428

In [36]:
def ms(num):
    r = 0
    for var in num:
        r = r +var
    return r

In [37]:
ms(rand)

23428

In [39]:
from functools import reduce

In [40]:
re = reduce(lambda x,y : x+y ,rand)
print(re)

23428

In [41]:
mul = reduce(lambda x,y : x*y ,rand)
print(mul)

1397955949686831757449012512130436126875583159116622913498468893131620077334863126621794313646268884190562466586112819200000000000