In [9]:
a = [1,2,3,4,5,6,7,8,9,10]
b = ['a','b','c','d','e','f','g','h']

In [10]:
for var in zip(a,b):
    print(var)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')
(6, 'f')
(7, 'g')
(8, 'h')

In [11]:
name = ['ajay','vishal','rajesh','ankit']

In [12]:
name

['ajay', 'vishal', 'rajesh', 'ankit']

In [14]:
for var in enumerate(name,start=1):
    print(var)

(1, 'ajay')
(2, 'vishal')
(3, 'rajesh')
(4, 'ankit')

In [15]:
zip(a,b)

In [16]:
enumerate(name)

In [17]:
a = []
for var in range(1,11):
    a.append(var)
    
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
b= [var for var in range(1,21)]  # list comprehension

In [22]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
import random

In [9]:
r = []
for var in range(1,11):
    r.append(random.randint(1,100))

In [10]:
r

[17, 27, 43, 22, 44, 37, 86, 68, 12, 31]

In [11]:
for var in range(1,11):
    print(random.randint(1,1111))

137
713
571
256
668
962
777
964
831
55

In [12]:
random.random()

0.6535408823713537

In [13]:
sample = [random.sample(range(1,100),50) for var in range(10)]

In [14]:
print(sample)

[[52, 88, 44, 73, 32, 36, 98, 48, 84, 79, 33, 87, 76, 7, 90, 77, 10, 62, 20, 13, 18, 83, 78, 1, 30, 26, 82, 92, 61, 64, 31, 97, 91, 15, 8, 11, 68, 16, 17, 19, 59, 39, 29, 89, 71, 86, 9, 14, 74, 54], [67, 3, 34, 22, 5, 42, 80, 95, 96, 19, 89, 81, 52, 9, 47, 36, 76, 62, 17, 70, 72, 94, 37, 75, 25, 43, 45, 82, 68, 11, 1, 77, 51, 74, 18, 61, 21, 90, 41, 54, 57, 35, 10, 88, 65, 86, 13, 38, 92, 55], [82, 3, 1, 25, 99, 62, 67, 2, 38, 29, 51, 80, 78, 94, 60, 19, 42, 32, 52, 72, 8, 44, 76, 95, 68, 20, 37, 7, 15, 92, 93, 34, 21, 86, 13, 87, 71, 64, 91, 41, 54, 84, 33, 56, 73, 50, 43, 85, 59, 6], [99, 43, 22, 63, 5, 40, 4, 61, 38, 41, 50, 19, 31, 26, 97, 13, 87, 78, 54, 7, 82, 95, 79, 81, 98, 80, 85, 51, 28, 69, 64, 57, 6, 27, 86, 2, 18, 73, 42, 75, 90, 8, 93, 17, 11, 84, 68, 36, 24, 91], [31, 87, 65, 84, 95, 29, 18, 75, 41, 92, 94, 36, 47, 96, 17, 39, 54, 86, 80, 67, 91, 24, 37, 73, 27, 33, 66, 19, 50, 34, 13, 52, 83, 2, 23, 4, 14, 28, 46, 45, 88, 99, 30, 49, 35, 38, 70, 43, 89, 25], [72, 17, 64, 7, 48, 35, 75, 23, 42, 44, 92, 36, 73, 80, 40, 68, 30, 43, 2, 22, 18, 51, 90, 13, 89, 60, 63, 86, 27, 62, 19, 37, 57, 16, 41, 52, 66, 84, 9, 81, 74, 5, 21, 85, 96, 32, 53, 25, 94, 58], [18, 22, 2, 17, 72, 35, 93, 75, 63, 25, 16, 24, 47, 41, 49, 45, 95, 85, 80, 9, 40, 66, 84, 36, 73, 23, 92, 8, 77, 32, 51, 69, 55, 21, 78, 43, 42, 59, 57, 3, 7, 91, 87, 12, 30, 1, 13, 6, 76, 79], [28, 51, 60, 15, 20, 56, 4, 34, 18, 66, 99, 72, 5, 27, 55, 29, 49, 3, 83, 31, 37, 41, 91, 1, 98, 23, 70, 81, 97, 10, 58, 39, 36, 62, 53, 65, 85, 32, 92, 7, 42, 16, 13, 33, 47, 54, 40, 75, 93, 96], [60, 59, 19, 51, 77, 49, 34, 71, 5, 43, 14, 62, 85, 45, 8, 37, 50, 15, 64, 89, 7, 68, 98, 72, 93, 35, 96, 88, 46, 12, 22, 6, 13, 11, 52, 39, 3, 41, 66, 63, 25, 74, 81, 30, 97, 65, 53, 44, 23, 56], [36, 45, 26, 66, 74, 17, 22, 83, 99, 51, 82, 67, 98, 19, 8, 79, 88, 25, 32, 37, 60, 14, 57, 5, 97, 21, 31, 53, 76, 64, 72, 35, 63, 1, 86, 43, 9, 23, 85, 2, 77, 33, 39, 30, 94, 52, 41, 92, 70, 50]]

In [15]:
s = []
for var in sample:
    s.extend(var)
print(s)

[52, 88, 44, 73, 32, 36, 98, 48, 84, 79, 33, 87, 76, 7, 90, 77, 10, 62, 20, 13, 18, 83, 78, 1, 30, 26, 82, 92, 61, 64, 31, 97, 91, 15, 8, 11, 68, 16, 17, 19, 59, 39, 29, 89, 71, 86, 9, 14, 74, 54, 67, 3, 34, 22, 5, 42, 80, 95, 96, 19, 89, 81, 52, 9, 47, 36, 76, 62, 17, 70, 72, 94, 37, 75, 25, 43, 45, 82, 68, 11, 1, 77, 51, 74, 18, 61, 21, 90, 41, 54, 57, 35, 10, 88, 65, 86, 13, 38, 92, 55, 82, 3, 1, 25, 99, 62, 67, 2, 38, 29, 51, 80, 78, 94, 60, 19, 42, 32, 52, 72, 8, 44, 76, 95, 68, 20, 37, 7, 15, 92, 93, 34, 21, 86, 13, 87, 71, 64, 91, 41, 54, 84, 33, 56, 73, 50, 43, 85, 59, 6, 99, 43, 22, 63, 5, 40, 4, 61, 38, 41, 50, 19, 31, 26, 97, 13, 87, 78, 54, 7, 82, 95, 79, 81, 98, 80, 85, 51, 28, 69, 64, 57, 6, 27, 86, 2, 18, 73, 42, 75, 90, 8, 93, 17, 11, 84, 68, 36, 24, 91, 31, 87, 65, 84, 95, 29, 18, 75, 41, 92, 94, 36, 47, 96, 17, 39, 54, 86, 80, 67, 91, 24, 37, 73, 27, 33, 66, 19, 50, 34, 13, 52, 83, 2, 23, 4, 14, 28, 46, 45, 88, 99, 30, 49, 35, 38, 70, 43, 89, 25, 72, 17, 64, 7, 48, 35, 75, 23, 42, 44, 92, 36, 73, 80, 40, 68, 30, 43, 2, 22, 18, 51, 90, 13, 89, 60, 63, 86, 27, 62, 19, 37, 57, 16, 41, 52, 66, 84, 9, 81, 74, 5, 21, 85, 96, 32, 53, 25, 94, 58, 18, 22, 2, 17, 72, 35, 93, 75, 63, 25, 16, 24, 47, 41, 49, 45, 95, 85, 80, 9, 40, 66, 84, 36, 73, 23, 92, 8, 77, 32, 51, 69, 55, 21, 78, 43, 42, 59, 57, 3, 7, 91, 87, 12, 30, 1, 13, 6, 76, 79, 28, 51, 60, 15, 20, 56, 4, 34, 18, 66, 99, 72, 5, 27, 55, 29, 49, 3, 83, 31, 37, 41, 91, 1, 98, 23, 70, 81, 97, 10, 58, 39, 36, 62, 53, 65, 85, 32, 92, 7, 42, 16, 13, 33, 47, 54, 40, 75, 93, 96, 60, 59, 19, 51, 77, 49, 34, 71, 5, 43, 14, 62, 85, 45, 8, 37, 50, 15, 64, 89, 7, 68, 98, 72, 93, 35, 96, 88, 46, 12, 22, 6, 13, 11, 52, 39, 3, 41, 66, 63, 25, 74, 81, 30, 97, 65, 53, 44, 23, 56, 36, 45, 26, 66, 74, 17, 22, 83, 99, 51, 82, 67, 98, 19, 8, 79, 88, 25, 32, 37, 60, 14, 57, 5, 97, 21, 31, 53, 76, 64, 72, 35, 63, 1, 86, 43, 9, 23, 85, 2, 77, 33, 39, 30, 94, 52, 41, 92, 70, 50]

In [16]:
len(sample)

10

In [17]:
len(s)

500

In [19]:
names = [input(f"Name {[var]} = ") for var in range(1,11)]

Name [1] = ajay
Name [2] = sachin
Name [3] = vipul
Name [4] = nikhil
Name [5] = bharat
Name [6] = nidhi
Name [7] = shubham
Name [8] = ayush
Name [9] = rajesh
Name [10] = kanika

In [20]:
print(names)

['ajay', 'sachin', 'vipul', 'nikhil', 'bharat', 'nidhi', 'shubham', 'ayush', 'rajesh', 'kanika']

In [21]:
len(names)

10

In [25]:
random.choice(names)

'shubham'

In [26]:
c = []
for var in range(3):
    c.append(random.choice(names))

In [27]:
c

['shubham', 'shubham', 'kanika']

In [28]:
n = [random.choice(names) for var in range(3)]

In [29]:
n

['nidhi', 'shubham', 'nidhi']